<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="sxawebsite"
             deploymentSecret="9fsorm3qnjp5wqzhy8wb68ngojh3sf1a"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
